.navbar {
    background-color: #333;
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    position: relative;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-hamburger {
    cursor: pointer;
    font-size: 1.8rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.hamburger-icon {
    display: flex;
    align-items: center;
}

.navbar-logo h2 {
    margin: 0;
    font-size: 1.5rem;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right .MuiIconButton-root {
    color: #fff;
}

.MuiPaper-root {
    background-color: #444;
    color: white;
}

.navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: fixed;
    top: 0;
    left: -100%;
    width: 350px;
    height: 100vh;
    background-color: #222;
    padding-top: 5rem;
    transition: left 0.3s ease-in-out;
    box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.3);
    margin-top: 4.5rem;
    z-index: 1000;
}

.navbar-menu.open {
    left: 0;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 1rem;
    width: 100%;
    transition: background 0.3s ease;
}



@media (min-width: 768px) {
    .navbar-hamburger {
        display: block;
    }
}

@media (min-width: 768px) {
    .MuiMenu-paper {
        min-width: 200px;
        margin-top: 2.5rem;
    }
}


.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem
}